.iphone-container {
    height : 780px;
    width : 360px;
    border: 1px solid black;
    background: #F8F8F8;
    color: #17191D;
}

.title {
    margin-bottom: 100px;
}


.friends-review-container {
    overflow-y: auto;
    position: absolute;
    width: 388px;
    height: 497px;
    top: 340px;
    background: #f6f8f9;
    border-radius: 5px;
    box-sizing: border-box;
}
.write-review-button{
    padding: 10px;
    background: #61BD5E;
    border-radius: 40px;
    color: white;
    text-align: center;
    width: 25%;
    margin: 20px auto 10px auto;

}

.button-row{
     padding: 10px;
}

.send-button {
    box-sizing: border-box;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom:10px;
    background: #4FAAF8;
    border-radius: 60px;
    color: white;
    text-align: left;
    box-sizing: boarder-box
    display: flex;

    flex-wrap: nowrap;
    width: 45%;
    margin: 40px auto 40px auto;
}

.fa {
    padding: 5px 5px;
    border-radius: 40px;
    font-size: 10px;
    margin-right: 5px;
}

.far{
    padding: 13px 9px;
    border-radius: 40px;
    background-color: #eceff1;
    font-size: 15px;
    margin-right: 5px;

}
.addButton {
    padding: 13px 20px;
    border-radius: 40px;
    font-size: 10px;
    background-color: #eceff1;
    margin-right: 5px;
}

.background {
    position: absolute;
    width: 390px;
    height: 894px;
    left: 0px;
    top: 0px;
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    /* background: lightgrey; */
    border-radius: 3px; 
}
