.iphone-container {
    height : 780px;
    width : 360px;
    border: 1px solid black;
    background: #F8F8F8;
    color: #17191D;
}

.friends-review-container {
    position: absolute;
    width: 388px;
    height: 497px;
    top: 340px;
    background: #f6f8f9;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

.send-button, .write-review-button {
    padding: 5px;
    border-radius: 60px;
    color: white;
    text-align: center;
    width: 20%;
    margin-left: 3px;
}

.write-review-button{
    background: #61BD5E;
    margin-left: 20px;
    width: 35%;
}

.send-button {
    background: #10ADFF;
}

.button-row{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons img {
    width: 20px;
    height: 20px;
}

.fa-thumbs-up.rev {
    color: #5cba58;
}

.fa-thumbs-down.rev {
    margin-left: 7px;
    color: #df4d5b;
}

.rev {
    margin-right: 2px;
}

.icons {
    background-color: #eceff1;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 3px;
}

.title {
    font-weight: bold;
    margin: 0 20px 0 5px;
}

.background {
    position: absolute;
    width: 390px;
    height: 894px;
    left: 0px;
    top: 0px;
}

.review-container {
    padding: 0 10px;
}

.review {
    padding: 10px 20px 10px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 2px 0 10px 0;
}

.friend-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.friend-container div:last-of-type {
    margin-left: auto;
}

.friend-bitmoji {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.friend-bio img {
    width: 15px;
    height: 15px;
    padding-left: 8px;
}

.friend-bio {
    display: flex;
    align-items: center;
    color: rgb(151, 150, 150);
    font-size: 80%;
}

.friend-name {
    font-weight: bold;
}