.iphone-container {
    height : 780px;
    width : 360px;
    border: 1px solid black;
    background: #F8F8F8;
    color: #17191D;
}

.friends-review-container {
    position: absolute;
    width: 388px;
    height: 497px;
    top: 340px;
    background: #f6f8f9;
    border-radius: 5px;
    box-sizing: border-box;
}

.send-button, .write-review-button {
    padding: 5px;
    border-radius: 60px;
    color: white;
    text-align: center;
    width: 20%;
    margin-left: 3px;
}

.write-review-button{
    background: #61BD5E;
    margin-left: 20px;
    width: 35%;
}

.send-button {
    background: #10ADFF;
}

.button-row{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons img {
    width: 20px;
    height: 20px;
}

.fa-thumbs-up.rev {
    color: #5cba58;
}

.fa-thumbs-down.rev {
    margin-left: 7px;
    color: #df4d5b;
}

.rev {
    margin-right: 2px;
}

.icons {
    background-color: #eceff1;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 3px;
}

.title {
    font-weight: bold;
    margin: 0 20px 0 5px;
}

.background {
    position: absolute;
    width: 390px;
    height: 894px;
    left: 0px;
    top: 0px;
}