@font-face {
    font-family: "Avenir Book";
    src: url("../../avenir_ff/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: "Avenir Black";
    src: url("../../avenir_ff/AvenirLTStd-Black.otf");
}

.iphone-container {
    height : 780px;
    width : 360px;
    border: 1px solid black;
    background: #F8F8F8;
    color: #17191D;
}

.profile-image-top {
    width: 100%;
}
.profile-image-bottom {
    width: 100%;
}

.back-button {
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin: 3.9rem 0 0 1.25rem;
}

.friends-title {
    font-family: Avenir Black, sans-serif;
    line-height: 1.5rem;
    margin: .25rem 0 .75rem 1rem;
}

.review-line {
    display: flex;
    background-color: #FFFFFF;
    line-height: 3.35rem;
    margin: 0 1rem 0.5rem 1rem;
    border-radius: 10px;
}

.review-line-text {
    width: 100%;
    font-family: Avenir Black, sans-serif;;
    font-size: 14px;
}

.list-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    padding: 0 .75rem 0 1rem;
}

.right-arrow-icon {
    align-self: center;
    width: 1rem;
    height: 1rem;
    padding-right: 1.2rem;
}