.background {
    position: absolute;
    width: 390px;
    height: 894px;
    left: 0px;
    top: 0px;
}

#close-button {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 70px;
    left: 15px;
    cursor: pointer;
}

.review-container {
    overflow-y: auto;
    position: absolute;
    width: 388px;
    height: 497px;
    left: 1px;
    top: 340px;
    background: #f6f8f9;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.title, .review-title {
    font-weight: bold;
}

.title {
    margin-bottom: 20px;
}

.fa {
    padding: 13px 20px;
    border-radius: 40px;
    font-size: 10px;
    background-color: #eceff1;
    margin-right: 5px;
}

.search-bar {
    width: 100%;
    height: 28px;
    background: #e7e7e7;
    box-sizing: border-box;
    border-radius: 80px;
    margin: 15px 0;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 7px;
}

.search-bar span {
    position: relative;
    color: rgb(146, 145, 145);
    margin-left: 10px;
    top: -2px;
}

.review-content {
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    margin-top: 15px;
}

.suggestion {
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.pos {
    background-color: #5cba58;
    color: white;
}

.neg {
    background-color: #df4d5b;
    color: white;
}

.close-icon {
    width: 10px;
    height: 10px;
    margin-left: 7px;
}

.suggestion-container {
    display: flex;
}

.suggestion-text {
    width: 100%;
    height: 150px;
    background: #e7e7e7;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 15px;
    color: rgb(146, 145, 145);
    padding: 10px 0 0 10px;
}

.button {
    padding: 10px;
    background: #10ADFF;
    border-radius: 60px;
    color: white;
    text-align: center;
    width: 25%;
    margin: 20px auto 10px auto;
    cursor: pointer;
}

.fa, .close-icon {
    cursor: pointer;
}